<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Films</title>
  </head>
  <body>
    <h1 style="margin-left: 35%; color: yellow">Star Wars</h1>
    <div>
      <span *ngFor="let in of counter(); let i = index"
        ><button (click)="getFilmsPage(i + 1)">{{ i + 1 }}</button></span
      >
    </div>
    <div>
      <mat-card class="example-card" *ngFor="let film of filmsList">
        <mat-card-header>
          <mat-card-title>{{ film.title }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          [src]="getPhotoUrl(film)"
          alt="Photo of a Shiba Inu"
        />
      </mat-card>
    </div>
  </body>
</html>
