<div>
  <mat-card
    *ngFor="let film of filmsList"
    style="background-color: #000000;
          font-family: 'Comic Sans Ms';
          width: 200px;
          color:white;"
  >
    <h1>{{ film.title }}</h1>
    <img
      [src]="getPhotoUrl(film)"
      width="200px"
      onerror="this.onerror = null; this.src = 'https:\/\/starwars-visualguide.com/assets/img/placeholder.jpg'"
    />
  </mat-card>

  <span
  [ngStyle]="{ 'align-self': 'center', 'text-align': 'start' }"
  *ngFor="let in of counter(); let i = index"
  ><button (click)="getFilmsPage(i + 1)">{{ i + 1 }}</button
  >&nbsp;</span>
</div>

