<div class="eo">
  <div>
  <mat-card class="example-card"
    *ngFor="let vehicle of vehiclesList"
    style="
      background-color: #000000;
      font-family: 'Comic Sans Ms';
      width: max-content;
      color: white;
    "
  >
    <h1>{{ vehicle.name }}</h1>
    <img
      [src]="getUrlImagen(vehicle.url)"
      width="350px"
      height="350px"
      onerror="this.onerror = null; this.src = 'https:\/\/starwars-visualguide.com/assets/img/placeholder.jpg'"
    />
  </mat-card>
</div>
</div>
<div>
  <span
    [ngStyle]="{ 'align-self': 'center', 'text-align': 'start' }"
    *ngFor="let in of counter(); let i = index"
    ><button (click)="getVehiclesPage(i + 1)">{{ i + 1 }}</button>&nbsp;</span
  >
</div>
